
<div id="messages">
  <%= render @messages %>
</div>

<form>
  <input id="countup" type="button" value="count up"  data-behavior="room_speaker">
  <input id="reset" type="button" value="reset">
</form>

